<!DOCTYPE html>
<html lang="en">
<head>
	<title>Transit with Bike</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109408825-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-109408825-1');
	</script>

</head>

<body>
	<div class="container">

		<section class="jumbotron text-center" style="background-color:#fff;margin-bottom:0;">
			<div class="container">
				<h1 class="jumbotron-heading">Transit with Bike</h1>
				<div class="row justify-content-center">
					<div class="col col-lg-6 col-md-8 col-sm-10">
						<p class="lead text-muted">Google Maps-like directions that assume you can bike between transit stations.</p>
					</div>
				</div>
			</div>
		</section>

		{% block content %}{% endblock %}

	</div>
</body>
</html>
