{% extends "./base.html" %}

{% block content %}

	{% if messages %}
		{% for m in messages %}
			{% if m.tags == "error" %}
				<div class="row justify-content-center">
					<div class="col col-lg-6 col-md-8 col-sm-10">
						<div class="alert alert-danger" role="alert">
							{{ m }}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	{# From autocomplete field #}
	<div class="row justify-content-center">
		<div class="col col-lg-6 col-md-8 col-sm-10">
			<div class="form-group">
				<label for="from-ac-input">Start location</label>
				<input id="from-ac-input" type="text" placeholder="Enter an address within the bay area" class="form-control">
			</div>
		</div>
	</div>

	{# To autocomplete field #}
	<div class="row justify-content-center">
		<div class="col col-lg-6 col-md-8 col-sm-10">
			<div class="form-group">
				<label for="to-ac-input">Destination location</label>
				<input id="to-ac-input" type="text" placeholder="Enter an address within the bay area" class="form-control">
			</div>
		</div>
	</div>

	{# Form #}
	<form action="{% url 'app_directions:result' %}" method="post">
		{% csrf_token %}
		<input type="hidden" id="input-from-loc" name="input_from_loc">
		<input type="hidden" id="input-to-loc" name="input_to_loc">

		{# Time field #}
		<div class="row justify-content-center">
			<div class="col col-lg-6 col-md-8 col-sm-10">
				<div class="form-group">
					<label for="input-start-time">Departure time</label>
					<input type="time" id="input-start-time" name="input_start_time" class="form-control">
				</div>
			</div>
		</div>

		{# Submit button #}
		<div class="row justify-content-center">
			<div class="col col-lg-6 col-md-8 col-sm-10">
				<button type="submit" class="btn btn-primary" style="width:100%;">Find Directions</button>
			</div>
		</div>
	</form>

	<script>
		function initMap() {
			var sfba_bounds = new google.maps.LatLngBounds(
				new google.maps.LatLng(36.605724, -123.420542),
				new google.maps.LatLng(38.452733, -121.886408)
			);

			var options = {
				bounds: sfba_bounds,
				strictBounds: true
			};


			// Setup from field
			var from_input = document.getElementById('from-ac-input');
			var from_autocomplete = new google.maps.places.Autocomplete(from_input, options);
			from_autocomplete.addListener('place_changed', function() {
				var place = from_autocomplete.getPlace();
				if (!place.geometry) {
					// User entered the name of a Place that was not suggested and
					// pressed the Enter key, or the Place Details request failed.
					// window.alert("No details available for input: '" + place.name + "'");
					return;
				}

				full_address = place.formatted_address;
				from_coordinates = place.geometry.location.lat().toString() + "," + place.geometry.location.lng().toString();
				document.getElementById('input-from-loc').value = from_coordinates
			});


			// Setup to field
			var to_input = document.getElementById('to-ac-input');
			var to_autocomplete = new google.maps.places.Autocomplete(to_input, options);
			to_autocomplete.addListener('place_changed', function() {
				var place = to_autocomplete.getPlace();
				if (!place.geometry) {
					// User entered the name of a Place that was not suggested and
					// pressed the Enter key, or the Place Details request failed.
					// window.alert("No details available for input: '" + place.name + "'");
					return;
				}

				full_address = place.formatted_address;
				to_coordinates = place.geometry.location.lat().toString() + "," + place.geometry.location.lng().toString();
				document.getElementById('input-to-loc').value = to_coordinates
			});


			// Setup time field
			var d = new Date(),
	        h = d.getHours(),
	        m = d.getMinutes();
		    if(h < 10) h = '0' + h;
		    if(m < 10) m = '0' + m;
		    document.getElementById('input-start-time').value = h + ":" + m
		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAicUsRkvBEBA_fjLbllm2iplPHe-ybbPM&libraries=places&callback=initMap" async defer></script>

{% endblock %}
