{% extends "./base.html" %}

{% block content %}

	{% if messages %}
		{% for m in messages %}
			{% if m.tags == "error" %}
				<div class="row justify-content-center">
					<div class="col col-lg-6 col-md-8 col-sm-10">
						<div class="alert alert-danger" role="alert">
							{{ m }}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	{# From autocomplete field #}
	<div class="row justify-content-center">
		<div class="col col-lg-6 col-md-8 col-sm-10">
			<div class="form-group">
				<label for="from-autocomplete">Start location</label>
				<input id="from-autocomplete" type="text" placeholder="Enter an address within the bay area" class="form-control">
			</div>
		</div>
	</div>

	{# To autocomplete field #}
	<div class="row justify-content-center">
		<div class="col col-lg-6 col-md-8 col-sm-10">
			<div class="form-group">
				<label for="to-autocomplete">Destination location</label>
				<input id="to-autocomplete" type="text" placeholder="Enter an address within the bay area" class="form-control">
			</div>
		</div>
	</div>

	{# Form #}
	<form action="{% url 'app_directions:result' %}" method="post">
		{% csrf_token %}
		<input type="hidden" id="input-field-from-coords" name="input_name_from_coords">
		<input type="hidden" id="input-field-to-coords" name="input_name_to_coords">
		<input type="hidden" id="input-field-from-text" name="input_name_from_text">
		<input type="hidden" id="input-field-to-text" name="input_name_to_text">

		{# Time field #}
		<div class="row justify-content-center">
			<div class="col col-lg-6 col-md-8 col-sm-10">
				<div class="form-group">
					<label for="input-start-time">Departure time</label>
					<input type="time" id="input-start-time" name="input_start_time" class="form-control">
				</div>
			</div>
		</div>

		{# Submit button #}
		<div class="row justify-content-center">
			<div class="col col-lg-6 col-md-8 col-sm-10">
				<button type="submit" class="btn btn-primary" style="width:100%;">Find Directions</button>
			</div>
		</div>
	</form>

	<script>
		function initMap() {
			var sfba_bounds = new google.maps.LatLngBounds(
				new google.maps.LatLng(36.605724, -123.420542),
				new google.maps.LatLng(38.452733, -121.886408)
			);

			var options = {
				bounds: sfba_bounds,
				strictBounds: true
			};


			// Setup from field
			var from_input = document.getElementById('from-autocomplete');
			var from_autocomplete = new google.maps.places.Autocomplete(from_input, options);
			from_autocomplete.addListener('place_changed', function() {
				var place = from_autocomplete.getPlace();
				if (!place.geometry) {
					// User entered the name of a Place that was not suggested and
					// pressed the Enter key, or the Place Details request failed.
					// window.alert("No details available for input: '" + place.name + "'");
					document.getElementById('input-field-from-coords').value = ""
					document.getElementById('input-field-from-text').value = ""
					return;
				}

				full_address = place.formatted_address;
				from_coordinates = place.geometry.location.lat().toString() + "," + place.geometry.location.lng().toString();
				document.getElementById('input-field-from-coords').value = from_coordinates
				document.getElementById('input-field-from-text').value = full_address
			});


			// Setup to field
			var to_input = document.getElementById('to-autocomplete');
			var to_autocomplete = new google.maps.places.Autocomplete(to_input, options);
			to_autocomplete.addListener('place_changed', function() {
				var place = to_autocomplete.getPlace();
				if (!place.geometry) {
					// User entered the name of a Place that was not suggested and
					// pressed the Enter key, or the Place Details request failed.
					// window.alert("No details available for input: '" + place.name + "'");
					document.getElementById('input-field-to-coords').value = ""
					document.getElementById('input-field-to-text').value = ""
					return;
				}

				full_address = place.formatted_address;
				to_coordinates = place.geometry.location.lat().toString() + "," + place.geometry.location.lng().toString();
				document.getElementById('input-field-to-coords').value = to_coordinates
				document.getElementById('input-field-to-text').value = full_address
			});


			// Setup time field
			var d = new Date(),
	        h = d.getHours(),
	        m = d.getMinutes();
		    if(h < 10) h = '0' + h;
		    if(m < 10) m = '0' + m;
		    document.getElementById('input-start-time').value = h + ":" + m

			// Setup from and to fields with previous values
			{% if from_address %}
				// Get coordinates and fill in previous address
				var from_geocoder = new google.maps.Geocoder();
				from_geocoder.geocode( { 'address': "{{from_address}}"}, function(results, status) {
					if (status == 'OK') {
						from_coordinates = results[0].geometry.location.lat().toString() + "," + results[0].geometry.location.lng().toString();
						$("#from-autocomplete").val("{{from_address}}")
						document.getElementById('input-field-from-coords').value = from_coordinates
						document.getElementById('input-field-from-text').value = "{{from_address}}"
					} else {
						console.log('Geocode was not successful for the following reason: ' + status);
						document.getElementById('input-field-from-coords').value = ""
						document.getElementById('input-field-from-text').value = ""
					}
				});

				// Let user easily select all by clicking in the field
				$("#from-autocomplete").click(function () {
					$(this).select();
				});
			{% endif %}

			{% if to_address %}
				// Get coordinates and fill in previous address
				var to_geocoder = new google.maps.Geocoder();
				to_geocoder.geocode( { 'address': "{{to_address}}"}, function(results, status) {
					if (status == 'OK') {
						to_coordinates = results[0].geometry.location.lat().toString() + "," + results[0].geometry.location.lng().toString();
						$("#to-autocomplete").val("{{to_address}}")
						document.getElementById('input-field-to-coords').value = to_coordinates
						document.getElementById('input-field-to-text').value = "{{to_address}}"
					} else {
						console.log('Geocode was not successful for the following reason: ' + status);
						document.getElementById('input-field-to-coords').value = ""
						document.getElementById('input-field-to-text').value = ""
					}
				});

				// Let user easily select all by clicking in the field
				$("#to-autocomplete").click(function () {
					$(this).select();
				});
			{% endif %}

		}
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAicUsRkvBEBA_fjLbllm2iplPHe-ybbPM&libraries=places&callback=initMap" async defer></script>

{% endblock %}
